

.navi{
    background-color: whitesmoke;
    margin-top: 0px;
}

.card-img-top{

    height: 280px;
    width: 180px;
}

.card{
    margin-top: 1cm;
}


.cardzz {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-out;
    outline: white;
    width: 10px; /* decrease width */
  }
  
  .cardzz:hover {
    transform: scale(1.10);
    box-shadow: 10px 100px 200px rgba(12, 0, 0, 0.3), 0 6prgba(255, 255, 255, 0.3, 0.3);
  }
  
 
  
  .cardzz:hover::before {
    transform: scale(1.1);
    opacity: 1;
  }


  @media (max-width: 768px) {
    .carousel {
      margin-top: 4cm;
    }
    }
 
  
 .table{

  background-color: white;
 } 
 
 